.employee-form {
    justify-items: center;
}

.employee-form > h2 {
    text-shadow: 2px 2px lightblue;
}

.employee-info {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px lightblue;
}

.btn {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
    margin: 10px;
}

.btn:hover {
    background-color: pink;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}

.employee-info-box {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px lightblue;
    border: 2px solid lightblue;
    padding: 10px;
}

.employee {
    text-decoration: none;
    color: black;
    
}

.employee-info-box:hover {
    border: 2px solid pink;
    box-shadow: 5px 5px 3px pink;
}

h2 {
    text-shadow: 2px 2px lightblue;
    text-align: center;
}

