.modal {
    width: 100%;
    height: 100%;
}

.modal-overlay {
    display: flex;
    background-color: lightcoral;
    border-radius: 1em;
    padding: 1em;
}

.modal-overlay-delivery {
   background-color: lightgray;
   border-radius: 1em;
   padding: 1em;
}

.btn-container {
    display: flex;
    justify-content: space-around   ;
}